.col-popup-exp {
  height: 420px !important;
}

.col-popup-prom {
  height: 328px !important;
}

.colc {
  left: 0 !important;
  -webkit-transition: none !important;
}

.colc-main {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.colc-main, .colc-fola, .colc-view, .colc-sug {
  -webkit-transition: none !important;
}

.colc-bhdr {
  background-color: #feefc3;
  font-size: 12px;
  font-weight: 700;
  padding: 8px;
  text-align: center;
}

.colc-vsl {
  color: #4285f4;
}
